@import "src/app/styles/colors";

span.breadcrumb, span.active-path {
  font-weight: 400;
  font-size: 20px;
}

span.breadcrumb {
  color: $gray-lighter;
  a {
    cursor: pointer;
    &:hover {
      color: $green-medium;
      transition: color 0.25s ;
    }
  }
}

span.active-path {
  color: $green-medium;
  font-weight: 600;
}
