@import "../../../styles/colors";

.list-category-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow-y: unset;

  span.customs-categories {
    display: inherit;
    position: relative;
    overflow-x: auto;
    height: inherit;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

button.category-button {
  color: $green-medium;
  min-width: fit-content;
  height: 100%;
  background: $white;
  margin: 0 5px;
  box-shadow: 1px 1px 5px 0 $gray-lighter;
  font-weight: bold;

  &.active, &.all {
    color: $white;
    background: $green-medium;
  }

  &.active {
    position: sticky;
    left: 0;
    right: 0;
    z-index: 2;
  }

  &.all {
    height: 100%;
  }
}

span.example-container {
  display: inherit;
  position: relative;
  overflow-x: auto;
  height: inherit;
  overflow-y: hidden;

  & .arrow-buttons-scrollbar {
    position: absolute;
    top: 0;
    left: 0;
    display: none;

    mat-icon {
      pointer-events: auto;
      opacity: 0.5;

      &.left {
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 0 50% 50% 0;
        background-color: $gray-lighter;
      }

      &.right {
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 50% 0 0 50%;
        background-color: $gray-lighter;
      }
    }
  }

  &:hover .arrow-buttons-scrollbar {
    display: inline-flex;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
  }
}
