span.home-item-container {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: auto;
  height: 100%;
}

pos-category-list {
  height: 40px;
  display: block;
  margin: 5px 0;
}
