<form class="point-of-sales-form">
  <mat-form-field class="point-of-sales-form-field disable-ripple" >
    <mat-label *ngIf="label">{{label}}</mat-label>
    <input type="text"
           placeholder="{{placeholder}}"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
