<form class="point-of-sales-form">
  <mat-form-field class="point-of-sales-form-field disable-ripple">
    <mat-label *ngIf="label">{{label}}</mat-label>
    <span matPrefix *ngIf="prefixIcon" class="{{prefixMaterialIconStyle}}">{{prefixIcon}}</span>
    <button matSuffix mat-icon-button *ngIf="showClear" class="material-icons-outlined" (click)="value=''">close
    </button>
    <input type="text"
           placeholder="{{placeholder}}"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto"
           [(ngModel)]="value">
    <mat-autocomplete #auto="matAutocomplete" (click)="onClickSelect($event)">
      <mat-option *ngFor="let option of filteredOptions | async" (onSelectionChange)="onSelectionOption(option)">
        <pos-search-input-option [value]="option" [searchText]="myControl.value" [innerHTML]="getHighlightedOption(option)"></pos-search-input-option>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
