h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

$font-size-72-points: 72px;
$font-size-60-points: 60px;
$font-size-48-points: 48px;
$font-size-42-points: 42px;
$font-size-36-points: 36px;
$font-size-30-points: 30px;
$font-size-24-points: 24px;
$font-size-20-points: 20px;
$font-size-18-points: 18px;
$font-size-16-points: 16px;
$font-size-14-points: 14px;

.fw-700 {
  font-weight: 700 !important;
}



