<mat-sidenav-container class="m-sidenav-container">
  <mat-sidenav [ngClass]="{'m-sidenav': true, 'm-sidenav-small': isExpanded}" mode="side" opened #sidenav
               (mouseover)="mouseenter()" (mouseleave)="mouseleave()">
    <div class="m-sidenav__handle">
      <mat-list  (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
        <mat-list-item>
          <img src="assets/icons/home.svg">
          <span class="menu-item" *ngIf="isExpanded">Inicio</span>
        </mat-list-item>
        <mat-list-item>
          <img src="assets/icons/basket.svg">
          <span class="menu-item" *ngIf="isExpanded">Carrito</span>
        </mat-list-item>
        <mat-list-item>
          <img src="assets/icons/statistics.svg">
          <span class="menu-item" *ngIf="isExpanded">Estadisticas</span>
        </mat-list-item>
        <mat-list-item>
          <img src="assets/icons/providers.svg">
          <span class="menu-item" *ngIf="isExpanded">Proveedores</span>
        </mat-list-item>
        <mat-list-item>
          <img src="assets/icons/product.svg">
          <span class="menu-item" *ngIf="isExpanded">Productos</span>
        </mat-list-item>
        <mat-list-item>
          <img src="assets/icons/edit-users.svg">
          <span class="menu-item" *ngIf="isExpanded">Adm. Usuarios</span>
        </mat-list-item>
        <mat-list-item>
          <img src="assets/icons/configuration.svg">
          <span class="menu-item" *ngIf="isExpanded">Configuracion</span>
        </mat-list-item>
        <mat-list-item>
          <img src="assets/icons/sign-out.svg">
          <span class="menu-item" *ngIf="isExpanded">Cerrar Sesión</span>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
