@import "src/app/styles/colors";
mat-sidenav-container {
  min-height: 100%;

  .m-sidenav-small {
    width: auto;
  }

  mat-sidenav {
    width: 70px;
    min-height: 100%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    mat-list {
      mat-list-item {
        ::ng-deep span span {
          display: grid;
          grid-template-columns: 40px 160px;
          grid-template-rows: 40px;
          align-items: center;
          svg {
            grid-column: 1;
            align-self: center;
            justify-self: center;
            justify-content: center;
          }
          span {
            display: flex;
            align-items: center;
            grid-column: 2;
          }
        }
      }
    }
  }

  mat-sidenav-content {
    //background-color: transparent;
  }
}
