span.menu-item-container{
  display: grid;
  grid-template-columns: 40px 160px;
  grid-template-rows: 40px;
  align-items: center;
  img {
    grid-column: 1;
    align-self: center;
    justify-self: center;
    justify-content: center;
  }
  span {
    display: flex;
    align-items: center;
    grid-column: 2;
  }
}
