span.panel-order-selector-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr) 2fr repeat(2, 1fr);
  grid-template-areas: 'current-order-container'
  'order-selector-container'
  'items-container'
  'subtotal-container'
  'finish-order';
  height: 100%;

  span.current-order-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: current-order-container;

    span.current-order-text {
      &::after {
        content: ':';
      }
    }

    span.current-order-indicator {

    }

    button.delete-order {
      justify-self: flex-end;
      padding: 0;
      min-width: fit-content;
      width: 3rem;
      margin-left: auto;

      mat-icon {
        padding: 0;
        margin: 0;
      }
    }
  }

  span.order-selector-container{
    grid-area: order-selector-container;
  }
  span.items-container {
    grid-area: items-container;
    overflow-y: auto;
  }

  span.subtotal-container {
    grid-area: subtotal-container;

    span.subtotal-text {
      &::after {
        content: ':';
      }
    }
  }

  button.finish-order {
    grid-area: finish-order;
    width: 100%;
  }
}
