<div class="dialog-template">
    <span *ngIf="data.title" class="title-wrapper">
        <span class="dialog-template-title">{{data.title}}</span>
    </span>
  <mat-dialog-content *ngIf="data.messages && data.messages.length > 0" class="dialog-template-text">
        <span *ngFor="let message of data.messages">
            {{message}}
        </span>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions *ngIf="data.buttons" class="dialog-template-buttons">
        <span *ngFor="let button of data.buttons">
            <button (click)="closeDialog(button.action)" *ngIf="button.type == buttonType.Primary" class="primary"
                    mat-stroked-button>{{button.name}}</button>
            <button (click)="closeDialog(button.action)" *ngIf="button.type == buttonType.Secondary" class=""
                    mat-stroked-button>{{button.name}}</button>
        </span>
  </mat-dialog-actions>
</div>
